<h1>Make a new user!</h1>

<form action="<%= users_url %>" method="post">

  <%= render "shared/forgery" %>

  <label for="username">Username</label>
  <input id="username" type="text" name="user[username]">
  <br>

  <label for="password">Password</label>
  <input id="password" type="password" name="user[password]">
  <br>

  <input type="submit" name="" value="Create User">

</form>
