.clock, .weather {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  width: 600px;
  background: orange;
  padding: .25em;
  border: .25em solid black;
}

.clock section, .weather section {
    display: flex;
    justify-content: space-between;
}


.weather {
  background: #f7e213;
}

.autoComplete {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  display: inline-block;
  background: skyblue;
  padding: .25em;
  border: 0.25em solid black;
}

.autoComplete input {
  font-size: inherit;
  padding: 0.25em;
  border-radius: 10px;
  border: 3px solid black;
}
